/* universal declaration  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto',sans-serif;
    margin : 0px;
    padding: 0px;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
a:hover{
  color: #FFFFFF;
}
.popover{
  top: 28px !important;
  left: -20px !important;
}
/* filter popover  */
.filter_popover{
  display: none;
  top: 0px !important;
  left: -28px !important;
}
.filter_popover .popover-arrow{
  display: none;
}

.popover-arrow{
  left: 22px !important;
}
.popover-body{
  padding: 0px !important;
  width: 200px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.popover-body a{
  color: #111111 !important;
}
.popover-body p{
  color: #111111 !important;
  padding: 10px 0px 10px 10px;
}
.popover-body p:hover{
  background-color: #F9F9F9;
}
.popover-body hr{
  color: #111111 !important;
  padding: 0px !important;
  margin: 0px !important;
}
p{
  margin-bottom: 0px !important;
}
tr{
  border: 1px solid #E1E1E1;
}


/* for navbar  */
.nav-btn{
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 9px 14px 11px 18px;
  border-radius: 22px;
}
.nav-btn:hover{
  border: 1px solid #FFFFFF;
}
.Faq_header{
  height: 64px;
  background: #525252 0% 0% no-repeat padding-box;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.faq-nav-logo{
    margin-top: 6px;
    margin-left: 15px;
    height: 54px;
    width: 73px;
    margin-bottom: 4px;
}
.nav-btn-container {
    height: 64px;
    width: 634px;
    /* margin-right: 15px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #646464;
  }
  .notifications {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 9px 20px 7px 16px;
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}
.notifications img{
  width:29px; 
  height:32px; 
  margin:0px 5px;
}
.notification_number{
    position: absolute;
    left: 50%;
    top: 0px;
    border-radius: 20px;
    background-color: #ff1616;
    color: #FFFFFF;
    height: 18px;
    font-size: 13.5px;
    width: 18px;
    text-align: center
}
.dropdown_imgs{
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 30px;
    cursor:pointer;
}
.nav-expand-btn-container {
  display: none;
  height: 54px;
  margin-right: 15px;
}
.hamburger {
  height: 100%;
}
.expand-btn-container {
  display: none;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s linear;
  background-color: #ffffff;
  color: rgb(107, 101, 101);
}
#expand_btn_res{
  height: 40px;
  padding: 5px 12px;
  background-color: #146371;
  color: #ffffff;
  width: 40px;
  font-size: 20px;
}
.expand-btn-inner-container{
    display: block;
    color: #646464 !important;
}
.expand-btn {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 17px;
  color: #FFFFFF;
}


/* welcome */
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #F9F9F9;
    min-height: 119px;
    flex-wrap: wrap;
    margin-top: 64px;
}

/* between */
.between_main_container{
    margin-top: 31px;
    display: flex;
    justify-content: center;
    position: relative;
}
.between_1st_container{
    margin-right: 31px;
    width: 262px;
    background-color: #1D7A8C;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 30px;
}
.open_side_manu{
  display: none;
}
.between_1st_container_data{
  padding: 15px 15px 15px 15px;
  margin: 0px !important;
  color: #646464 !important;
}
.between_1st_container_data:hover{
    padding: 15px 15px 15px 15px;
    margin: 0px !important;
    background-color: #146371;
}
.between_1st_container_dat{
  padding: 15px 15px 15px 15px;
  margin: 0px !important;
}
.between_1st_container_dat a{
  color: #646464 !important;
}
.between_1st_container_dat  a:hover{  
    color: #146371 !important;
}
.between_2nd_container{
  width: 845px;
}
.responsive_filter{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;

}
.responsive_filter img{
  display: none;
  width: 20px;
  height: 20px;
}
.filter_popover .popover-body{
  padding: 15px 0px 12px 10px !important;

}
.form-check-label{
  margin-bottom: 4px;
}
.between_table_header{
  color: #646464;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 14px 17px 15px;
  border-bottom: 1px solid #E1E1E1;
  background-color: #F9F9F9;
}
table.dataTable thead .sorting{
  background-image: url("../img/sort.png") !important;
}
table.dataTable thead .sorting_asc
{
  background-image: url("../img/sort_up.jpg") !important;
}
table.dataTable thead .sorting_desc { 
  background-image: url("../img/sort_down.jpg") !important;
}
.between_table_data{
  background-color: #FFFFFF;
  color: #646464;
  font-size: 16px;
  border-bottom: 1px solid #E1E1E1;
  padding: 16px 26px 11px 16px;
}
.data_adjust{
    display: flex;
}
.calender_img{
  width: 17px !important;
  height: 17px !important;
  margin-right:7px; 
  margin-bottom:8px;
}
.home_img{
  width: 17px !important;
  height: 17px !important;
  margin-right:7px; 
  margin-bottom:8px;
}
.action_button input{
    width: 80px;
    height: 34px;
    background-color: #FF6B6B;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 17px;
    border: none;
    padding: 7px 15px 8px 16px;
    cursor: pointer;
}
.action_button input:hover{
    background-color: #fc5454;
}

/* footer  */
.footer{
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 22px;
  }
  .footer_logo{
    width: 120px;
    height: 92px;
    margin-top: 20px;
    margin-bottom: 19px;
  }
  .footer_data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 45.5px;
  }
  .footer_link{
    margin-right: 50px;
    color: #F1F1F1;
    font-size: 14px;
  }
  .footer_link a:hover{
    color: #1D7A8C;
  }
  .footer_icon1{
    height: 18px;
    width: 9px;
    margin-right: 20px;
    margin-top: 61px;
    cursor: pointer;
  }
  .footer_icon2{
    height: 20px;
    width: 20px;
    margin-top: 61px;
    cursor: pointer;
  }
  
/* last div  */
  .last_div{
    text-align: center;
    padding-bottom: 22px;
    background-color: #111111;
    width: 100%;
  }
  .last_div_data{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #9BA0A3;
    text-align: center;
    /* margin-bottom: 22px; */
    padding-top: 25px;
  }
  .last_div_data a{
    color: #9BA0A3;
    text-decoration: none;
  }
  .last_div_data a:hover{
    color: #29626D;
    transition: all 0.5s;
  }
  .last_div hr {
    height: 2px;
    width: 84.5% !important;
    background: #424242;
    margin: 0px auto;
  }



@media screen and (max-width:1088px) {
    .footer_data{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .footer_link {
        display: block;
        margin: 5px 0;
    }
    .nav-btn-container{
      display: none;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .nav-expand-btn-container{
      display: flex;
    }
    .expand-btn-container-open{
      right: 0px !important;
    }
    .notification_number{
      top: 5px;
      left: 50%;
  }
  .between_1st_container{
    display: none;
    position: absolute;
    top: 0px;
    left: -262px;
    transition: all 0.5s linear;
    z-index: 10;
  }
  .expand-btn{
    margin: 0px 15px;
  }
  .notific{
    display: flex; 
    position: absolute;
    left:125px;
  }
  .expand-btn-container{
    display: block;
    position: fixed;
    width: 240px;
    top: 0;
    right: -240px;
    height: 100vh;
    overflow: scroll;
    z-index: 1000;
  }
  .open_side_manu{
    position: absolute;
    top: 0px;
    right: -30px;
    display: block;
    height: 30px;
    width: 30px;
    background-color: #29626D;
    color: #F1F1F1;
    cursor: pointer;
  }
  .between_2nd_container{
    width: 78% !important;
  }
  /* user popover  */
  .popover{
    display: none !important;
  }
  }

.open_side_manu_toggle{
  left: 0px !important;
 }

  
  @media screen and (max-width: 650px){
  .footer{
    flex-direction: column;
    justify-content: center;
    padding-bottom:20px;
    text-align: center;
    align-items: center;
    
  }
  .footer_data{
    margin: 0px;
    padding: 15px 0px;
  }
  .newsletter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news_img{
    margin-right: 0px;
  }
 
  .between_2nd_container_header_date{
    display: none;
  }
  .between_2nd_container_header_service{
    display: none;
  }

  /* for table responsive  */
  .dataTables_wrapper .dataTables_paginate{
    display: block;
  }
}

/* for table responsive  */
@media screen and (max-width: 767px){
  table.dataTable tbody tr{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 35px 0px;
    padding: 15px;
    box-shadow: 0 0 6px rgb(0 0 0 / 25%);
  }
  thead{
    display: none;
  }
  .action_button{
    text-align: center;
    border-bottom: none;
  }
  .responsive_filter img{
    display: block;
    text-align: center;
  }
  /* filter popover  */
  .filter_popover{
    display: block !important;
    z-index: 1;
  }
}

.between_main_res{
  display : none;
}

/* data table in built css changed */
.dataTables_wrapper .dataTables_length select{
  border: 1px solid #E1E1E1;
  color: #646464;
  border-radius: 3px;
  padding: 14px 11px 14px 13px !important;
  margin: 10px !important;
  }
.dataTables_wrapper .dataTables_length{
  color: #646464;
}
.dataTables_wrapper .dataTables_info{
  clear: none;
  color: #646464;
  margin-top: 12px;
  margin-left: 8px;
}
.dataTables_wrapper .dataTables_paginate{
  clear: none;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #646464 !important;
  font-size: 14px;
  cursor: pointer;
  margin: 14px;
  background-color: #FFFFFF;
}
table.dataTable thead th, table.dataTable thead td{
  border-bottom: 1px solid #E1E1E1;
}
table.dataTable.no-footer{
  border-bottom: none;
  border-collapse: collapse;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  border: 1px solid #D6D6D6  !important;
  padding: 11px 16px 10px 15px !important;
  color: #FFFFFF !important;
  background: #1D7A8C !important;
  border-radius:22px !important;
  margin-right: 3px !important;
  font-size: 14px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  border: 1px solid #D6D6D6 !important;
  padding: 11px 16px 10px 15px !important;
  margin: 0px!important;
  color: #646464 !important;
  border-radius:22px !important;
  margin-right: 3px !important;
  font-size: 14px !important;
}