@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto',sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

    a:hover {
        color: #FFFFFF;
        transition: all 0.5s;
    }

.popover {
    display: block;
    top: 28px !important;
    left: -28px !important;
}
/* for filter popover  */
.filter_popover {
    display: none;
    top: 0px !important;
    left: -28px !important;
}

    .filter_popover .popover-arrow {
        display: none;
    }

.popover-arrow {
    left: 22px !important;
}

.popover-body {
    padding: 0px !important;
    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

    .popover-body a {
        color: #111111 !important;
    }

    .popover-body p {
        color: #111111 !important;
        padding: 10px 0px 10px 10px;
    }

        .popover-body p:hover {
            background-color: #F9F9F9;
            transition: all 0.5s;
        }

    .popover-body hr {
        color: #111111 !important;
        padding: 0px !important;
    }

p, hr {
    margin: 0px;
}




/* navbar  */
.nav-btn {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 9px 14px 11px 18px;
    border-radius: 22px;
    margin: 0px 5px;
}

    .nav-btn:hover {
        border: 1px solid #FFFFFF;
        transition: all 0.5s;
    }

.dropdown {
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 8px;
}

.Faq_header {
    height: 64px;
    background: #525252 0% 0% no-repeat padding-box;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.faq-nav-logo {
    margin-top: 6px;
    margin-left: 15px;
    height: 54px;
    width: 73px;
    margin-bottom: 4px;
}

.nav-btn-container {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #646464;
}

.notifications {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 9px 20px 7px 16px;
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}

    .notifications img {
        width: 29px;
        height: 32px;
    }

.notification_number {
    position: absolute;
    left: 50%;
    top: 0px;
    border-radius: 20px;
    background-color: #ff1616;
    color: #FFFFFF;
    height: 18px;
    font-size: 13.5px;
    width: 18px;
    text-align: center
}

.dropdown_imgs {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 35px;
    cursor: pointer;
}

.nav-round-btn-book {
    width: 111px;
    height: 40px;
    box-sizing: border-box;
    padding: 9px 19px 11px 17px;
    background-color: #29626D;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

    .nav-round-btn-book:hover {
        color: #29626D !important;
        background-color: #FFFFFF;
        transition: all 0.5s;
    }

.nav-expand-btn-container {
    display: none;
    height: 54px;
    margin-right: 15px;
}

.hamburger {
    height: 100%;
}

.expand-btn-container {
    display: none;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s linear;
    background-color: #ffffff;
    color: rgb(107, 101, 101);
}

.expand-btn-inner-container {
    display: block;
}

.expand-btn {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 17px;
    color: #FFFFFF;
}

#expand_btn_res {
    height: 40px;
    padding: 5px 12px;
    background-color: #146371;
    color: #ffffff;
    width: 40px;
    font-size: 20px;
}


/* welcome */
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #F9F9F9;
    min-height: 119px;
    flex-wrap: wrap;
    margin-top: 64px;
}


/* between */
.between_main_container {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    position: relative;
}

.between_1st_container {
    margin-right: 31px;
    width: 262px;
    /* height: 1032px; */
    background-color: #1D7A8C;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 30px;
}

.open_side_manu {
    display: none;
}

.between_1st_container_data {
    padding: 15px 15px 15px 15px;
    margin: 0px !important;
}

    .between_1st_container_data:hover {
        padding: 15px 15px 15px 15px;
        margin: 0px !important;
        background-color: #146371;
        transition: all 0.5s;
    }

.between_1st_container_dat {
    padding: 15px 15px 15px 15px;
    margin: 0px !important;
}

    .between_1st_container_dat a {
        color: #646464 !important;
    }

        .between_1st_container_dat a:hover {
            color: #146371 !important;
            transition: all 0.5s;
        }

.sec_main_container {
    width: 845px;
}


/* footer  */
.footer {
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer_logo {
    width: 120px;
    height: 92px;
    margin-top: 20px;
    margin-bottom: 19px;
}

.footer_data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 45.5px;
}

.footer_link {
    margin-right: 50px;
    color: #F1F1F1;
    font-size: 14px;
}

    .footer_link a:hover {
        color: #1D7A8C;
        transition: all 0.5s;
    }

.footer_icon1 {
    height: 18px;
    width: 9px;
    margin-right: 20px;
    margin-top: 61px;
    cursor: pointer;
}

.footer_icon2 {
    height: 20px;
    width: 20px;
    margin-top: 61px;
    cursor: pointer;
}


/* last div  */
.last_div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 22px;
    background-color: #111111;
}

.last_div_data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #9BA0A3;
    text-align: center;
    /* margin-bottom: 22px; */
    padding-top: 25px;
}

    .last_div_data a {
        color: #9BA0A3;
        text-decoration: none;
    }

        .last_div_data a:hover {
            color: #29626D;
            transition: all 0.5s;
        }

.last_div hr {
    height: 2px;
    width: 84.5% !important;
    background: #424242;
    margin: 0px auto;
}





/* from java script  */
.open_side_manu_toggle {
    left: 0px !important;
}

.between_2nd_container_data_toggle {
    height: auto;
    display: block;
}




/*for between nav-tab*/
.between_table_header_container {
    color: #646464 !important;
}

.nav-link {
    width: 28% !important;
}

.nav-tabs {
    margin-bottom: 25px;
}

    .nav-tabs .nav-link {
        border-bottom-width: 4px !important;
        color: #646464 !important;
    }

.tab-content .tab-pane {
    color: #646464 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1d7a8c !important;
    background-color: #fff;
    border-bottom-width: 4px;
    border-color: transparent transparent #1d7a8c !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #1d7a8c !important;
    border-bottom-width: 4px;
    border-color: transparent transparent #1d7a8c;
    isolation: isolate;
}

.nav-link {
    color: black !important;
}


.rate_submit {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FFFFFF;
    background-color: #1D7A8C;
    padding: 5px 18px 5px 18px;
    margin-right: 5px;
    border-radius: 30px;
    cursor: pointer;
}

@media screen and (max-width:1088px) {
    .footer_data {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_link {
        display: block;
        margin: 5px 0;
    }

    .nav-btn-container {
        display: none;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .nav-expand-btn-container {
        display: flex;
    }

    .expand-btn-container-open {
        right: 0px !important;
    }

    .between_1st_container {
        display: none;
    }

    .notification_number {
        top: 5px;
        left: 50%;
    }

    .expand-btn {
        margin: 0px 3px;
    }

    .notific {
        display: flex;
        position: absolute;
        left: 125px;
    }

    .expand-btn-container {
        display: block;
        position: fixed;
        width: 240px;
        top: 0;
        right: -240px;
        height: 100vh;
        overflow: scroll;
        z-index: 1000;
    }

    .open_side_manu {
        position: absolute;
        top: 0px;
        right: -30px;
        display: block;
        height: 30px;
        width: 30px;
        background-color: #29626D;
        color: #F1F1F1;
        cursor: pointer;
    }

    .sec_main_container {
        width: 90% !important;
    }

    .nav-link {
        width: 33.33% !important;
    }
    /* user popover  */
    .popover {
        display: none !important;
    }
}


@media screen and (max-width: 650px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
        text-align: center;
        align-items: center;
    }

    .footer_data {
        margin: 0px;
        padding: 15px 0px;
    }
}

/*calender css*/

.fc-event {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 6px 3px;
    cursor: pointer;
    color: #fff;
}

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
    color: #646464 !important;
    text-decoration: none !important;
}

th .fc-scrollgrid-sync-inner {
    background: #f9f9f9;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 0;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc-next-button span,
.fc-prev-button span {
    vertical-align: initial !important;
}

    .fc-next-button span::before,
    .fc-prev-button span::before {
        content: "" !important;
        display: inline-block;
        width: 10px;
        height: 17px;
        background: url("../img/right-arrow-medium.png") no-repeat center center;
    }

    .fc-prev-button span::before {
        transform: rotate(180deg);
    }

.fc-next-button,
.fc-prev-button {
    background: #fff !important;
    box-shadow: none !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
    height: 44px;
    width: 46px;
    position: relative !important;
    transition: background 0.3s ease;
    outline: 0 !important;
}

    .fc-next-button:hover,
    .fc-prev-button:hover {
        background: #f6f6f6 !important;
    }

.fc-toolbar-title {
    color: #646464;
}

.fc-upcomingBtn-button,
.fc-completedBtn-button {
    background: transparent !important;
    border: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #646464 !important;
    box-shadow: none !important;
    cursor: text !important;
    outline: none !important;
    padding: 0px !important;
}

    .fc-upcomingBtn-button::before,
    .fc-completedBtn-button::before {
        content: "";
        display: inline-block;
        height: 17px;
        width: 17px;
        border-radius: 1px;
        margin-right: 5px;
        border: 1px solid #e1e1e1 !important;
        background: #efefef;
    }

    .fc-upcomingBtn-button::before {
        border: 1px solid #1d7a8c !important;
        background: #1d7a8c;
    }

    .fc-completedBtn-button::before {
        background: #86858b;
        border: 1px solid #86858b;
    }

.fc .fc-toolbar.fc-header-toolbar {
    flex-wrap: wrap !important;
}