@{
    ViewData["Title"] = "About";
}
@section CustomCss{

    <link rel="stylesheet" href="~/css/About.css" />
}

<img class="faq-banner" src="~/img/hero-banner-img.png" alt="bnner">

    <div class="faq-heading-container">
        <div class="faq-heading-inner-container">
            <h2 class="faq-heading">A Few words about us</h2>
            <div class="faq-heading-img"></div>
        </div>
    </div>
    <div class="few_words_container">
        <div class="few_words">
            We are providers of professional home cleaning services, offering hourly based house cleaning options, 
            which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, 
            so that you can focus on spending your precious time with your family members.
            We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.

        </div>
    </div>

    <!-- our story  -->
    <div class="faq-heading-container for_about_our_story">
        <div class="faq-heading-inner-container">
            <h2 class="faq-heading">Our Story</h2>
            <div class="faq-heading-img"></div>
        </div>
    </div>
    <div class="few_words_container">
        <div class="few_words">
            A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. 
            Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work 
            when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.
        </div>
    </div>

    <!-- newsletter -->
    <div class="center">
        <div class="get-news-container">
            <p>
                GET OUR NEWSLETTER
            </p>
            <form action="#" method="post" class="form-container">
                <input class="form-container-input" type="email" placeholder="YOUR EMAIL">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
@section Scripts{
<script src="~/js/About.js"></script>
}
